.kitBlocks{
    /* app */
    --kb-main-color:#38bdf8;
    --kb-second-color:#38bdf8;
    --kb-bg:#303c53;
    /* --kb-fb:#303c53; */
    --kb-blur-bg: #ebebeb7d;
    --kb-header-color:#ffffff;
    --kb-text-color:#a1a1aa;
    --kb-border-color:#ffffff1a;
    --kb-icon-color: #eaeaea;
    --kb-shadow:rgba(0,0,0,5%);
    /* error */
    --kb-error-bg: #cc7d7d;
    --kb-error-color: #fff;
    /* card */
    --kb-card-bg:#283043;
    --kb-card-header-color:#ffffff;
    --kb-card-color:#a0a0a0;
    /* data label */
    --kb-data-label-bg:#383838;
    --kb-data-label-color:#cfcfcf;
    /* button */
    --kb-button-bg: #38bdf8;
    --kb-button-color:#fff;
    /* code */
    --kb-code-bg:#181818;
    --kb-code-color:#afafaf;
    --kb-code-key-color:#b372a8;
    --kb-code-comment-color:#538b46;
    --kb-code-string-color:#B58672;
    --kb-code-func-color:#dbdba6;
}