:root{
    /* app */
    --sb-main-color:#986894;
    --sb-bg:#303c53;
    --sb-fb:#303c53;
    --sb-blur-bg: #ebebeb7d;
    --sb-header-color:#ffffff;
    --sb-text-color:#a1a1aa;
    --sb-border-color:#ffffff1a;
    --sb-icon-color: #eaeaea;
    --sb-shadow:rgba(0,0,0,5%);
    /* error */
    --sb-error-bg: #cc7d7d;
    --sb-error-color: #fff;
    /* card */
    --sb-card-bg:#283043;
    --sb-card-header-color:#ffffff;
    --sb-card-color:#a0a0a0;
    /* data label */
    --sb-data-label-bg:#383838;
    --sb-data-label-color:#cfcfcf;
    /* button */
    --sb-button-bg: #986894;
    --sb-button-color:#fff;
    /* code */
    --sb-code-bg:#181818;
    --sb-code-color:#afafaf;
    --sb-code-key-color:#b372a8;
    --sb-code-comment-color:#538b46;
    --sb-code-string-color:#B58672;
    --sb-code-func-color:#dbdba6;
}